<main class="page payment-page">
    <section class="payment-form">
        <div class="container">

            <!--Formulario para crear/editar clientes-->
            <form name="ClienteForm" #clienteForm="ngForm" (ngSubmit)="onSubmit(clienteForm)"> 
                <div class="card-details  px-4">                  
                    
                    <div class="title"> 
                        {{!clienteServicio.abiertoEdicion? "REGISTRAR UN CLIENTE":"DETALLES DE CLIENTE"}} 
                        
                        <div class="edit-btn-wrapper" *ngIf="clienteServicio.abiertoEdicion==true">
                            <a  name="borrarBtn" class="btn btn-delete py-1 px-1 mr-2 edit-actions"  (click)="eliminar()" ><i class="fa fa-trash"></i></a>
                            <a  name="editarBtn" class="btn btn-edit py-1 px-1 edit-actions" (click)="actualizar()" ><i class="fa fa-save"></i></a>   
                        </div>
                          
                        <p *ngIf="clienteServicio.abiertoEdicion">
                            <small>Presione la tecla <span class="badge">ESC</span> para cancelar la selección</small>
                        </p>
                        <p *ngIf="!clienteServicio.abiertoEdicion">
                            <small>Añadir un nuevo cliente al sistema.</small>
                        </p>
                    </div> 

                    <div class="row ">
                        <div class="form-group col-sm-6">
                            <label for="">DUI</label>
                            <input type="text" name="dui" [attr.readonly]="clienteServicio.abiertoEdicion? true:null"  #dui="ngModel" [(ngModel)]="clienteServicio.clienteSeleccionado.dui" class="form-control" placeholder="00000000-1" aria-label="MM">
                        </div>
                        <div class="form-group col-sm-5" *ngIf="clienteServicio.abiertoEdicion==true">
                            <!--<label for="">NUMERO DE VISITAS </label>-->

                            <button *ngIf="clienteServicio.abiertoEdicion==true" type="button" type="button" name="redirect"  id="redirect-btn" class="btn btn-action btn-primary btn-block p-1 px-3" style="margin-top: 0px;">
                                Ver visitas                                
                            </button>

                            <!--<input type="text" name="numerovisitas" readonly  #numerovisitas="ngModel" [(ngModel)]="clienteServicio.clienteSeleccionado.numerovisitas" class="form-control" aria-label="MM">
                            -->
                        </div>
                        <div class="form-group col-sm-11">
                            <label  >Nombre del cliente</label>
                            <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="clienteServicio.clienteSeleccionado.nombre" class="form-control" placeholder="Nombre del cliente" aria-label="Card Holder">
                        </div> 
                        <div class="form-group col-sm-11">
                            <label>Paciente</label>
                            <input   type="text" name="mascota" #mascota="ngModel" [(ngModel)]="clienteServicio.clienteSeleccionado.mascota" class="form-control" placeholder="Nombre del cliente" aria-label="Card Holder">
                        </div>                            
                    </div>
                    <div class="row justify-content-center"> 
                        <div class="form-group col-sm-10">
                            <button type="button" type="submit" name="nuevoBtn" class="btn btn-action btn-primary btn-block p-1 px-3">
                                {{!clienteServicio.abiertoEdicion? "Crear cliente":"Nueva visita"}}                                  
                            </button>
                        </div> 
                      </div>
                  </div>
            </form>
        </div>
    </section>
</main>
<!--============================================================================================================================================-->
