 <!--Everyone floats here Georgie-->
<a href="#" class="float">
  <i class="fa fa-search my-float"></i>
  </a>

  <div class="form-group">
    <input type="text" class="form-control" name="filtroCliente" [(ngModel)]="filtroCliente" placeholder="Buscar cliente...">
  </div>

 <!--Tabla de clientes-->
  <div class="wrap"> 
    <div class="table100 ver3">
      <table data-vertable="ver3">
        <thead>
          <tr class="row100 head">
            <th class="column100 column2" data-column="column1">DUI</th> 
            <th class="column100 column1" data-column="column2">Nombre del cliente</th>
            
            <th class="column100 column4" data-column="column4">Mascota</th> 
            <th class="column100 column4" data-column="column5">Número de visitas</th>   
          </tr>
        </thead>
        <tbody> 
          <tr class="row100" *ngFor="let cliente of clienteArray | cliente:filtroCliente" (click)="editar(cliente);"> 
            <td class="column100 column2" >{{cliente.dui}}</td>
            <td class="column100 column1" >{{cliente.nombre}}</td>            
            <td class="column100 column3" >{{cliente.mascota}}</td>
            <td class="column100 column4" >{{cliente.numerovisitas}}</td>   
          </tr>

 
        </tbody>
      </table>
    </div> 
  </div> 