<div> 
    <div class="container-fluid">
      <div class="row justify-content-center">
        
        <div class="col py-4 px-4"> 
          <!--============================================================================================================================================-->
            <a [routerLink]="['/clientes']"  style="font-weight: normal;">
                <-- Regresar
            </a>   
            <div> 
              <div class="container-fluid">
                <div class="row justify-content-center">
                  <!--Información de cliente-->
                  <div class="col-xl-9 py-4"> 
                      <main class="page payment-page">
                        <section class="payment-form">
                            <div class="content">                                  
                              <div class="card-details  px-4">                
                                      
                                <div class="title"> 
                                  MOSTRANDO VISITAS                               
                                <p><small>Se han obtenido {{cliente.numerovisitas}} resultados para el cliente {{cliente.nombre}}</small></p> 
                                </div>  
                                
                                <div class="wrap"> 
                                  <div class="table100 ver3" >
                                    <table data-vertable="ver3">
                                      <thead>
                                        <tr class="row100 head"> 
                                          <th class="column100 column1"  >Número</th>   
                                          <th class="column100 column2"  >Tratamiento</th>                     
                                          <th class="column100 column3"  >Costo de consulta</th>   
                                          <th class="column100 column4" >Productos comprados</th>   
                                          <th class="column100 column4" >Ticket de compra</th>   
                                        </tr>
                                      </thead>
                                      <tbody> 
                                        <tr class="row100" *ngFor="let item of elements ">                                                 
                                            <td class="column100 column1" >{{cliente.visitas[item].id}} </td>
                                            <td class="column100 column2" >{{cliente.visitas[item].tratamiento}}</td>                      
                                            <td class="column100 column3" >${{cliente.visitas[item].costo}}</td>  
                                            <td class="column100 column4" >{{cliente.visitas[item].listamedicamentos}}</td> 
                                            <td class="column100 column5" >
                                              <button  name="nuevoBtn" class="btn btn-action btn-primary btn-block " (click)="exportar(item);">
                                                Exportar                            
                                              </button> 
                                            </td>   
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div> 
                                </div>
                              </div>  
                                           
                          </div> 
                        </section>
                      </main>


                         
                  </div>
                  <!--/EOF informacion de cliente--> 
                </div>
              </div> 
          </div>            
          
          <!--============================================================================================================================================-->

        </div> 
      </div>
    </div> 
</div>