

<div class="header">
    <h1>Gasolinera Chi Fros</h1> 
</div>
<form>
    <div class="form-group">
        <label>Galones</label>
        <input type="number" step="0.5" class="form-control" [(ngModel)]="numeroGalones"> 
    </div>
    <div class="form-group">
        <label for="">Gasolina</label>
        <select [(ngModel)]="gasolinaSeleccionada" class="form-control" (change)="costoGalonIngresado()"> 
            <option value="Selecciona">Selecciona</option>
            <option *ngFor="let u of listaGasolina" value="{{u}}" >
                {{u}}
            </option>
        </select>
    </div> 

    
    <div class="form-group">
        <label [hidden]="gasolinaSeleccionada == 'Selecciona'">Su valor es: {{costoFinal}}</label>
    </div>  
</form>