<form class="payment-form" name="visitaForm" #visitaForm="ngForm">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="container">                
        <div class="card-details">         
            <!--Titulo de modal-->      
            <div class="title">                        
                NUEVA VISITA  
                <p><small>Esta es la visita número {{cliente.numerovisitas+1}} de <span style="color:#606ED7"> {{cliente.mascota}}</span></small></p>
            </div>  <!--/EOF Titulo-->
            <div class="row "> 
            <!--Columna de la derecha-->
                <div class="col-md-6">                
                    <div class="form-group col-md-6"> <!--DUI-->
                        <label class="col-form-label">DUI</label>
                        <input type="text" class="form-control" readonly value={{cliente.dui}}> 
                    </div> <!--/EOF DUI-->

                        <!--Nombre del cliente-->
                        <div class="form-group col-md-10"> 
                            <label class="col-form-label">Nombre completo del cliente</label>
                            <input type="text" class="form-control" readonly value={{cliente.nombre}}>                            
                        </div>
                        <!--/EOF Nombre del cliente--> 
                         <!--Nombre del cliente-->
                         <div class="form-group col-md-10"> 
                            <label class="col-form-label">Paciente</label>
                            <input type="text" class="form-control" readonly value={{cliente.mascota}}>                            
                        </div>
                        <!--/EOF Nombre del cliente--> 

                        <!--Tratamiento textarea-->
                        <div class="form-group col-md-12"> 
                            <label>Tratamiento</label>
                            <textarea [(ngModel)]="tratamiento" class="form-control" rows="3" name="tratamiento" required minlength="10"></textarea> 
                        </div> 
                        <!--/EOF Tratamiento textarea-->
                    </div> 
                    <!--/EOF Columna de la derecha-->
                    <!--Columna de la izquierda-->
                    
                    <div class="col-md-6">
                        
                         <!--Precio por consulta-->
                         <div class="form-group medicamentos-list"> 
                            <div class="title" style="text-align: center !important; "> 
                                Ticket                                
                            </div> 
                            <label style="margin-left: 25px;">Productos disponibles</label>
                            <div class="medicamentos-container"> 
                                <p *ngFor="let producto of listaMedicamentos"> 
                                    <input type="checkbox" id="{{producto.id}}" value="{{producto.nombre}}"  value="{{ producto.name }}"  (change)="calcularCosto(producto,$event)">                                
                                    {{ producto.nombre }} 
                                </p>         
                            </div>
                            <div class="products checkout"> 
                                <div class="item">
                                  <span class="price">${{costoCrudo}}</span>
                                  <p class="item-name">Monto total</p> 
                                </div>
                                <div class="item">
                                  <span class="price">${{(descuento*costoCrudo).toFixed(2)}}</span>
                                  <p class="item-name">Descuento por visita</p> 
                            </div>
                            <div class="total" >Total<span class="price">${{costo}}</span></div>
                        </div>  
                        </div> 
                        <!--/EOF Precio por consulta--> 
                        
                       
                    </div>        
                    <!--/EOF Columna de la izquierda-->
                </div>
                <div class="row justify-content-center"> 
                    <div class="form-group col-sm-8">
                        <button type="button" type="submit" name="nuevoBtn" class="btn btn-action btn-primary btn-block p-1 px-3" [disabled]="!visitaForm.valid" (click)="guardarVisita();">
                            Añadir visita                                
                        </button> 
                    </div> 
                </div>
            </div>
        </div>
    </form> 