

<div class="header">
    <h1>Calculo de salarios netos</h1>
    <p>Ingrese los datos solicitados para realizar el calculo de salario.</p>
</div>

<section class="container">
        <form [formGroup]="formIngreso">
            <p class="alert alert-danger" role="alert" *ngIf="!formIngreso.get('txtNombre').valid && (formIngreso.get('txtNombre').touched || formIngreso.get('txtNombre').dirty)" >
                Ingrese el nombre del empleado.
            </p> 
            <p class="alert alert-danger" role="alert" *ngIf="!formIngreso.get('numSalarioBase').valid && (formIngreso.get('numSalarioBase').touched || formIngreso.get('numSalarioBase').dirty)" >
                Ingrese un salario entre $100 y $10000.
            </p> 
             <!--Nombre del empleado-->
            <label>Nombre del empleado</label>
            <input formControlName="txtNombre" type="text" class="form-control" [(ngModel)]="nombreEmpleado"> 
            <!--Salario-->
            <label>Salario base ($)</label>
            <input formControlName="numSalarioBase" type="number" class="form-control" [(ngModel)]="salarioBase">   
           

            <button class="button" [disabled]="!formIngreso.valid" (click)="ingresar()">Calcular</button> 
        </form> 

     
        <table [hidden]="contador ==0">
            <thead>
                <tr>
                    <th>Nombre del empleado</th>
                    <th>Salario Base</th>
                    <th>ISSS</th>
                    <th>Renta</th>
                    <th>AFP</th>
                    <th>Salario Neto</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let empleado of registro">
                    <td>{{empleado.nombreEmpleado}}</td>
                    <td>$ {{empleado.salarioBase}}</td>
                    <td>$ -{{empleado.valorISSS}}</td>
                    <td>$ -{{empleado.valorRenta}}</td>            
                    <td>$ -{{empleado.valorAFP}}</td>
                    <td>$ {{empleado.salarioNeto}}</td>
                </tr>
            </tbody>
        </table> 

</section>
 
 


