/* Pen-specific styles */

.ng-valid[required], .ng-valid.required { border-left: 5px solid rgba(32, 77, 32, 0.623);
}
.ng-invalid:not(form) {
    border-left: 5px solid rgb(148, 27, 27); }


html, body, section {
    height: 100%;
  }
  
  body {
    color: #fff;
    font-family: sans-serif;
    font-size: 1.25rem;
    line-height: 150%;
    text-align: center; 
  }
  
   

  h1 {
    font-size: 1.75rem;
    margin: 0 0 0.75rem 0;
  }
   
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
     width: 100%;
    
  } 
   
  form{
    padding: 20px; 
    width: 600px;
    margin: 30px auto;
  }

.button {
    background-color: #4CAF50; /* Green */ border: none;
   width: 100%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 auto;
    }

    input {
    width: 100%;
    margin: 0 auto;
    padding: 12px 20px;
    margin-bottom: 20px;  
    box-sizing: border-box; 
    font-size: 1.5vw;

    
    }

    .button:hover{
        background-color: darkgreen;
        cursor: pointer;
        
    }


    .button:disabled{
        background-color: gray;
    }
    label{
    font-size: 1.5vw;
    margin-bottom: 15px;
    }
    .header {
    padding: 30px; 
    text-align: center; 
    background: #1abc9c; 
    color: white; 
    font-size: 24px;
    margin-bottom: 30px;
}

table{ 
    margin: 50px  auto;     
        width: 100%;
  }
  
 td,th { 
    border: 1px solid #ddd;
    padding: 8px;
  }
  
 tr:nth-child(even){background-color: #f2f2f2;}
  
 tr:hover {background-color: #ddd;}
  
 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
    font-weight: normal;
    text-align: center;
}

