<div class="container-fluid">
	<div class="row">
		<div class="col-md-12"> 
            <!--Header de la pagina-->
			<div class="page-header">
				<h1>
                    Veterinaria Dansin 
                    <small>Sucursal San Marcos</small>
				</h1>
            </div> 
            <br>
            <!--Parte inferior-->
			<div class="row">
                <!--Formulario de cliente-->
				<div class="col-md-3"> 
                    <div class="text-center">
                        <img  src="assets/img/2684410059_main_thumb.jpg" class="img-fluid rounded" >
                      </div> <br>
					<div role="form">
                        <div class="col-6">
                            <div class="form-group">							 
                                <label for="exampleInputEmail1">
                                    DUI
                                </label>
                                <input type="text" [(ngModel)]="dui" class="form-control" id=""/>
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="form-group">							 
                                <label for="exampleInputEmail1">
                                    Nombre completo de cliente
                                </label>
                                <input type="text" class="form-control" id="" [(ngModel)]="nombre"/>
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="form-group">							 
                                <label for="exampleInputPassword1">
                                    Nombre de mascota
                                </label>
                                <input type="text" [(ngModel)]="mascota" class="form-control" id=""/>
                            </div>  
						    <button type="submit" class="btn btn-primary" (click)="guardar()">
							    Crear cliente
                            </button>
                        </div>
						
						
					</div>
				</div>
				<div class="text-center col-md-8">
                    <br>
                    <h5>LISTA DE CLIENTES</h5>
					<table class="table">
						<thead>
							<tr>
								<th>
									DUI
								</th>
								<th>
									Nombre de cliente
								</th>
								<th>
									Mascota
								</th>
								<th>
									Número de visitas
                                </th>
                                <th>
									Acciones
								</th>
							</tr>
						</thead>
						<tbody>
                            
                            <tr *ngFor="let tdatos of clientesDatos">
                                <td>{{tdatos.dui}}</td>
                                <td>{{tdatos.nombre}}</td>
                                <td>{{tdatos.mascota}}</td>
                                <td>{{tdatos.numConsultas}}</td>
                                <td>
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-targe="#modalVisitas" (click)="agregarVisita(tdatos.dui)">
                                        <i class="far fa-eye"></i>
                                        Agregar visita
                                    </button>
                                </td>
                            </tr>
						</tbody>
                    </table> 
				</div>
            </div>
            <!--Modal de visitas-->
            <div id="modalVisitas" class="modal fade" role="dialog">
                <div class="modal-dialog">
              
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                      <p>Some text in the modal.</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
              
                </div>
              </div>

		</div>
	</div>
</div>
