<div class="container-fluid">
	<div class="row">
		<div class="col-md-12"> 
            <!--Header de la pagina-->
			<div class="page-header">
				<h1>
                    Veterinaria Dansin 
                    <small>Sucursal San Marcos</small>
				</h1>
            </div> 
            <br>
            <!--Parte inferior-->
             
			<div class="row">
                <!--Formulario de cliente-->
				<div class="col-md-4"> 
                   <br>
                   <!--Inicio de formulario-->
                   
					<form  [formGroup]="nuevoFormulario"> 
                        <p class="alert alert-danger" role="alert" *ngIf="!nuevoFormulario.get('nuevoDUI').valid && (nuevoFormulario.get('nuevoDUI').touched || nuevoFormulario.get('nuevoDUI').dirty)" >
                            <small>DUI invalido. Ej: 12365487-9.</small> 
                        </p>  
                        <p class="alert alert-danger" role="alert" *ngIf="!nuevoFormulario.get('nuevoCliente').valid && (nuevoFormulario.get('nuevoCliente').touched || nuevoFormulario.get('nuevoCliente').dirty)" >
                            <small>El campo nombre es requerido.</small> 
                        </p>  
                        <p class="alert alert-danger" role="alert" *ngIf="!nuevoFormulario.get('nuevoMascota').valid && (nuevoFormulario.get('nuevoMascota').touched || nuevoFormulario.get('nuevoMascota').dirty)" >
                            <small>El campo mascota es requerido.</small> 
                        </p>  
                        <h6>Agregar un nuevo cliente</h6>
                        <div class="col-6">
                            <div class="form-group">							 
                                <label for="exampleInputEmail1">
                                    DUI
                                </label>
                                <input type="text" formControlName="nuevoDUI" [(ngModel)]="dui" class="form-control" pattern="^\d{8}-\d{1}?$"/>
                                 
                                
                                
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="form-group">							 
                                <label for="exampleInputEmail1">
                                    Nombre completo de cliente
                                </label>
                                <input type="text" formControlName="nuevoCliente" required class="form-control" id="" [(ngModel)]="nombre"/>
                            
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="form-group">							 
                                <label for="exampleInputPassword1">
                                    Nombre de mascota
                                </label>
                                <input type="text" formControlName="nuevoMascota" required [(ngModel)]="mascota" class="form-control" id=""/>
                            </div>  
						    <button type="submit" class="btn btn-success" [disabled]="!nuevoFormulario.valid" (click)="guardar()">
							    Crear cliente
                            </button>
                            
                       
                        </div>
						
						
                    </form>
                    <!--Finde formulario-->
                    
				</div>
				<div class="text-center col-md-7">
                    
                    <br>
                    <h5>LISTA DE CLIENTES</h5>
					<table class="table">
						<thead>
							<tr>
								<th>
									DUI
								</th>
								<th>
									Nombre de cliente
								</th>
								<th>
									Mascota
								</th>
								<th>
									Número de visitas
                                </th>
                                <th>
									Acciones
								</th>
							</tr>
						</thead>
						<tbody>
                            
                            <tr *ngFor="let tdatos of clientesDatos">
                                <td>{{tdatos.dui}}</td>
                                <td>{{tdatos.nombre}}</td>
                                <td>{{tdatos.mascota}}</td>
                                <td>{{tdatos.numConsultas}}</td>
                                <td>
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalVisitas" (click)="prepararModal(tdatos, (tdatos.numConsultas+1))">
                                        <i class="far fa-eye"></i>
                                        Agregar visita
                                    </button>
                                </td>
                            </tr>
						</tbody>
                    </table> 
                </div>
                <div class="col-md-2"> 
                    <img  src="assets/img/2684410059_main_thumb.jpg" class="img-fluid rounded" > 
                </div>
            </div>
            <!--Modal de visitas-->
            <div class="modal fade " id="modalVisitas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                <div class="modal-dialog modal-lg " role="document" >
                  <div class="modal-content" > 
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">
                          <td> 
                            Agregando visita para <span id="pacienteActivo">{{clienteSeleccionado[2]}}</span>
                          </td>
                          <small>Esta es la visita número {{+clienteSeleccionado[3]+1}} del cliente.</small>
                       </h5> 
                      
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="medicamentosChecklist">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group col-md-6"> 
                                    <label class="col-form-label">DUI</label>
                                    <input type="text" class="form-control" readonly value={{clienteSeleccionado[0]}}> 
                                </div>
                                <div class="form-group col-md-10"> 
                                    <label class="col-form-label">Nombre completo del cliente</label>
                                    <input type="text" class="form-control" readonly value={{clienteSeleccionado[1]}}>                            
                                </div> 

                                <div class="form-group col-md-12"> 
                                    <label>Tratamiento</label>
                                    <textarea class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="tratamiento" rows="3"></textarea> 
                                </div> 
                            </div> 
                            <div class="col-md-6">
                                <!--Lista de medicamentos-->
                                <label>Medicamentos</label>
                                <div class="form-group col-md-10" *ngFor="let ticket of listaMedicamentos">
                                    <label><input type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="ticket.checked" id="{{ticket.id}}" value="{{ ticket.name }}" (change)="calcularCosto(ticket.precio,$event)" > {{ ticket.name }}</label>                                                                   
                                </div> 
                                <div class="form-group col-md-10"> 
                                    <h6>Monto total: ${{costoCrudo}}</h6>   
                                    <h6>Descuento por visita: ${{(descuento*costoCrudo).toFixed(2)}}</h6>   
                                    <h6>Total a pagar: ${{costo}} </h6>         
                                </div> 
                            </div>
                            
                        </div>  
                        </form>    
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Regresar</button>
                      <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="registrarVisita(clienteSeleccionado[0],clienteSeleccionado[2])">Aceptar</button>
                    </div>
                  </div>
                </div>
               
            </div>

		</div>
	</div>
</div>
