<div class="container-fluid">
	<div class="row">
		<div class="col-md-12"> 
            <!--Header de la pagina-->
			<div class="page-header">
				<h1>
                    Veterinaria Dansin 
                    <small>Sucursal San Marcos</small>
				</h1>
            </div> 
            <br>
            <!--Parte inferior-->
			<div class="row">
                <!--Formulario de cliente-->
				<div class="col-md-3"> 
                    <div class="text-center">
                        <img  src="assets/img/2684410059_main_thumb.jpg" class="img-fluid rounded" >
                      </div> <br>
					<div role="form">
                        <div class="col-6">
                            <div class="form-group">							 
                                <label for="exampleInputEmail1">
                                    DUI
                                </label>
                                <input type="text" [(ngModel)]="dui" class="form-control" id=""/>
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="form-group">							 
                                <label for="exampleInputEmail1">
                                    Nombre completo de cliente
                                </label>
                                <input type="text" class="form-control" id="" [(ngModel)]="nombre"/>
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="form-group">							 
                                <label for="exampleInputPassword1">
                                    Nombre de mascota
                                </label>
                                <input type="text" [(ngModel)]="mascota" class="form-control" id=""/>
                            </div>  
						    <button type="submit" class="btn btn-primary" (click)="guardar()">
							    Crear cliente
                            </button>
                        </div>
						
						
					</div>
				</div>
				<div class="text-center col-md-8">
                    <br>
                    <h5>LISTA DE CLIENTES</h5>
					<table class="table">
						<thead>
							<tr>
								<th>
									#
								</th>
								<th>
									Nombre de cliente
								</th>
								<th>
									Mascota
								</th>
								<th>
									Número de visitas
                                </th>
                                <th>
									-
								</th>
							</tr>
						</thead>
						<tbody>
                            
                            <tr *ngFor="let tdatos of clientesDatos">
                                <td>{{tdatos.dui}}</td>
                                <td>{{tdatos.nombre}}</td>
                                <td>{{tdatos.mascota}}</td>
                                <td>{{tdatos.numConsultas}}</td>
                            </tr>
						</tbody>
                    </table> 
				</div>
			</div>
			<ul class="nav">
				<li class="nav-item">
				</li><br />
			</ul>
		</div>
	</div>
</div>
