<main class="page payment-page">
    <section class="payment-form">
        <div class="container">
             
            <!--Formulario para crear/editar clientes-->
            <form>                 
                <div class="card-details  px-4">     
                    <div class="title"> 
                        NUEVO PRODUCTO 
                        <p><small>Añadir un producto al sistema.</small> </p>
                    </div> 
                    <div class="row ">                        
                        <div class="form-group col-sm-11">
                            <label for="">Nombre de producto</label>
                            <input type="text" class="form-control" placeholder="Desparasitante" aria-label="MM">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6" >
                            <label>Precio</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="dolar-adon">$</span>
                                </div>
                                <input type=number class="form-control" placeholder="0.00" aria-label="0.00" aria-describedby="basic-addon1">
                            </div>                            
                        </div>   
                    </div>  
                    <div class="row justify-content-center">
                        <!--Enlace a visitas-->            
                        <div class="form-group col-sm-9">
                            <button type="button" type="submit" name="nuevoBtn" class="btn btn-action btn-primary btn-block p-1 px-3">
                                Crear producto                           
                            </button>                                                           
                        </div>  
                    </div> 
                </div> 
            </form>
        </div>
    </section>
</main>
<!--============================================================================================================================================-->

